In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_train = pd.read_csv("train/truth_train.csv")
truth_enroll = truth_train['1'].to_list()

In [3]:
required_train_users = pd.read_csv("required_users.csv")
required_train_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_train_users = required_train_users.head(10000) # Change the number as per requirement

In [4]:
required_train_users

,enrollment_id,username,course_id
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
4,22,dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
...,...,...,...
21787,200781,Kw92JTRLSCQpjDbdykKr2UkGn8EcDD30,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21788,200786,QgtS4pwTfCcnUet7wEFIaa3mI34JWeze,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21789,200791,m32hK7SShSI6GU8twpfqx1DswVGk0Vpq,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21790,200795,S91PWx0V5j7dyuZWAavjt1byiE0NQ5Ta,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21791,200826,ejQ6gPILOqZQAfakVpcpBhnipDtNVKba,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_train_users['enrollment_id'].to_list()

In [6]:
week12 = pd.read_csv('week12.csv')
week12

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,0,314,314,3,2014-06-19T08:43:27,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:27
1,1,315,315,3,2014-06-19T08:43:41,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:41
2,2,316,316,3,2014-06-19T08:43:42,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:42
3,3,317,317,3,2014-06-19T08:43:47,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-19,08:43:47
4,4,318,318,3,2014-06-19T08:43:58,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-19,08:43:58
...,...,...,...,...,...,...,...,...,...,...
539227,1291544,8143252,8143252,199078,2014-05-29T23:53:34,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-05-29,23:53:34
539228,1291545,8143253,8143253,199078,2014-05-29T23:53:45,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:53:45
539229,1291546,8143254,8143254,199078,2014-05-29T23:53:45,server,access,us7YwZF5353fEK6wqGiSMi7Ty0W9rWTU,2014-05-29,23:53:45
539230,1291547,8143255,8143255,199078,2014-05-29T23:58:26,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:58:26
539231,1291548,8143256,8143256,199078,2014-05-29T23:58:26,browser,video,Ho9kbKnkUOgYf5wfU8O0vX1QeqMiPhoK,2014-05-29,23:58:26

In [7]:
week12.drop('Unnamed: 0', axis=1, inplace=True)
week12

,Unnamed: 0.2,Unnamed: 0.1,enrollment_id,time,source,event,object,date,time_event
0,0,314,3,2014-06-19T08:43:27,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:27
1,1,315,3,2014-06-19T08:43:41,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:41
2,2,316,3,2014-06-19T08:43:42,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-06-19,08:43:42
3,3,317,3,2014-06-19T08:43:47,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-06-19,08:43:47
4,4,318,3,2014-06-19T08:43:58,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-06-19,08:43:58
...,...,...,...,...,...,...,...,...,...
539227,1291544,8143252,199078,2014-05-29T23:53:34,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-05-29,23:53:34
539228,1291545,8143253,199078,2014-05-29T23:53:45,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:53:45
539229,1291546,8143254,199078,2014-05-29T23:53:45,server,access,us7YwZF5353fEK6wqGiSMi7Ty0W9rWTU,2014-05-29,23:53:45
539230,1291547,8143255,199078,2014-05-29T23:58:26,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-05-29,23:58:26
539231,1291548,8143256,199078,2014-05-29T23:58:26,browser,video,Ho9kbKnkUOgYf5wfU8O0vX1QeqMiPhoK,2014-05-29,23:58:26

In [8]:
features12 = []
enrollment_id1 = []
week12_len = len(week12)
for i in range(week12_len):
    e_id = week12.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp12 = [eid, required_train_users.loc[i, 'username'], required_train_users.loc[i, 'course_id']]+[0]*23+[truth_train.loc[truth_index, '0']]
    features12.append(temp12)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

11176

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week12_len):
    ob = week12.loc[i, 'object']
    eid = week12.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features12[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features12[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week12_len):
    eid = week12.loc[i, 'enrollment_id']
    event = week12.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features12[index][4] += 1
    elif event == 'page_close':
        features12[index][5] += 1
    elif event == 'problem':
        features12[index][6] += 1
    elif event == 'video':
        features12[index][7] += 1
    elif event == 'discussion':
        features12[index][8] += 1
    elif event == 'navigate':
        features12[index][9] += 1
    else:
        features12[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features12[i][4:11]
    features12[i][11] = sum(behaviour_list) # Total behaviours per week
    features12[i][12] = features12[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week12_len):
    d = week12.loc[i, 'date']
    eid = week12.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features12[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features12[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week12.loc[0, 'time'], infer_datetime_format=True)
e1 = week12.loc[0, 'enrollment_id']
d1 = week12.loc[0, 'date']
for i in range(1, week12_len):
    t2 = pd.to_datetime(week12.loc[i, 'time'], infer_datetime_format=True)
    e2 = week12.loc[1, 'enrollment_id']
    d2 = week12.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features12[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week12_len):
    eid = week12.loc[i, 'enrollment_id']
    source = week12.loc[i, 'source']
    event = week12.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features12[index][15] += 1
        elif event == 'page_close':
            features12[index][16] += 1
        elif event == 'problem':
            features12[index][17] += 1
        elif event == 'video':
            features12[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week12_len):
    eid = week12.loc[i, 'enrollment_id']
    source = week12.loc[i, 'source']
    event = week12.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features12[index][19] += 1
        elif event == 'discussion':
            features12[index][20] += 1
        elif event == 'problem':
            features12[index][21] += 1
        elif event == 'navigate':
            features12[index][22] += 1
        elif event == 'wiki':
            features12[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features12[i][15:19]
    features12[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features12[i][19:24]
    features12[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects12',
        'bno_access12',
        'bno_pageclose12',
        'bno_problem12',
        'bno_video12',
        'bno_discussion12',
        'bno_navigate12',
        'bno_wiki12',
        'bno_total12',
        'bno_avg12',
        'no_of_active_days12',
        'time_consumption12',
        'browser_access12',
        'browser_pageclose12',
        'browser_problem12',
        'browser_video12',
        'server_access12',
        'server_discussion12',
        'server_problem12',
        'server_navigate12',
        'server_wiki12',
        'bno_browser12',
        'bno_server12',
        'label']
        
features_week12 = pd.DataFrame(features12, columns = cols)

In [19]:
features_week12

,enrollment_id,username,course_id,no_of_objects12,bno_access12,bno_pageclose12,bno_problem12,bno_video12,bno_discussion12,bno_navigate12,...,browser_problem12,browser_video12,server_access12,server_discussion12,server_problem12,server_navigate12,server_wiki12,bno_browser12,bno_server12,label
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,46,36,14,55,5,0,9,...,55,5,20,0,0,9,0,90,29,0
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,68,143,61,112,47,20,20,...,90,47,72,20,22,20,0,269,134,0
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,39,108,34,48,31,18,13,...,42,31,45,18,6,13,0,170,82,1
3,22,dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,49,66,38,64,36,0,1,...,56,36,40,0,8,1,0,156,49,1
4,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,34,57,21,35,18,8,10,...,33,18,27,8,2,10,0,102,47,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11171,199056,OGCl7FuINJMmIPxVehaSeriK0obhKOqa,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,8,6,4,0,3,0,1,...,0,3,6,0,0,1,0,7,7,1
11172,199057,AW3qB37tEUxBhbQEUxhofJkaUbKF4F7i,bWdj2GDclj5ofokWjzoa5jAwMkxCykd6,2,0,0,0,0,4,1,...,0,0,0,4,0,1,0,0,5,1
11173,199058,VeLCqoeC0RO3eUOAMmBgbUdlxxqFnwbN,SpATywNh6bZuzm8s1ceuBUnMUAeoAHHw,4,4,0,0,0,0,2,...,0,0,4,0,0,2,0,0,6,0
11174,199069,M45QNJ6951iGJajsprAeFVhHViiX50AV,A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3,22,12,10,0,9,5,5,...,0,9,12,5,0,5,1,19,23,1
11175,199078,pXGBcTffNYWAUeYw1RFCIuTgQsIvI4OJ,G8EPVSXsOYB5YQWZGiz1aVq5Pgr2GrQu,5,2,1,0,1,0,2,...,0,1,2,0,0,2,0,2,4,0

In [20]:
features_week12.to_csv('features_week12.csv')