In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_test = pd.read_csv("test/truth_test.csv")
truth_enroll = truth_test['2'].to_list()

In [3]:
required_test_users = pd.read_csv("required_test_users.csv")
required_test_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_test_users = required_test_users.head(10000) # Remove when running full dataset

In [4]:
required_test_users

,enrollment_id,username,course_id
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,85,OdsEBh425XZxll0hTUv04OAotDf6aGtE,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,108,tIzV4oVJd7GebOZj2uw51WJCx59QGqJ5,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
...,...,...,...
14347,200782,hyOYv4rmSRnv16UkVW9gdxwUgBZxYdhv,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14348,200800,7nzr7mwsX3K7BiOtdIcVBSR6zEXVIYI1,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14349,200806,4h79uMcS1iYROsRps1078ngx78w376cH,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14350,200817,vDNo4mQAZOC4PWVxrxTTUTLEt0bpNinW,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
14351,200829,JLn36xalC1eIUd4jm6gux9oEgx3gpDxA,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_test_users['enrollment_id'].to_list()

In [6]:
week3 = pd.read_csv('week3_test.csv')
week3

,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,146,34,2014-07-03T14:13:06,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-03,14:13:06
1,147,34,2014-07-03T14:13:17,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-03,14:13:17
2,148,34,2014-07-03T14:13:17,server,access,930872bvdoHAPATW4FUKMfPrXPCfhOc0,2014-07-03,14:13:17
3,149,34,2014-07-03T14:14:25,server,access,cxOMs3FCbZQXEhvP7JEhchXpXFWK8OSP,2014-07-03,14:14:25
4,150,34,2014-07-03T14:14:26,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-03,14:14:26
...,...,...,...,...,...,...,...,...
115279,866745,200176,2014-02-06T13:10:31,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-02-06,13:10:31
115280,866746,200176,2014-02-06T13:10:31,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,13:10:31
115281,866747,200176,2014-02-06T13:10:39,server,navigate,vPJ7ada7OqDfvYXMjnTQC3NExmLvWiUL,2014-02-06,13:10:39
115282,866748,200176,2014-02-06T13:10:43,server,navigate,ykjH1bzwnUL5biZCKZGrCwLbCJ3znUdx,2014-02-06,13:10:43
115283,866749,200176,2014-02-06T13:10:49,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,13:10:49

In [7]:
week3.drop('Unnamed: 0', axis=1, inplace=True)
week3

,enrollment_id,time,source,event,object,date,time_event
0,34,2014-07-03T14:13:06,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-03,14:13:06
1,34,2014-07-03T14:13:17,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-03,14:13:17
2,34,2014-07-03T14:13:17,server,access,930872bvdoHAPATW4FUKMfPrXPCfhOc0,2014-07-03,14:13:17
3,34,2014-07-03T14:14:25,server,access,cxOMs3FCbZQXEhvP7JEhchXpXFWK8OSP,2014-07-03,14:14:25
4,34,2014-07-03T14:14:26,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-03,14:14:26
...,...,...,...,...,...,...,...
115279,200176,2014-02-06T13:10:31,server,navigate,l0kj1vWrjGxi2YqQWGitPXDEoH5G5RYd,2014-02-06,13:10:31
115280,200176,2014-02-06T13:10:31,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,13:10:31
115281,200176,2014-02-06T13:10:39,server,navigate,vPJ7ada7OqDfvYXMjnTQC3NExmLvWiUL,2014-02-06,13:10:39
115282,200176,2014-02-06T13:10:43,server,navigate,ykjH1bzwnUL5biZCKZGrCwLbCJ3znUdx,2014-02-06,13:10:43
115283,200176,2014-02-06T13:10:49,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,13:10:49

In [8]:
features3 = []
enrollment_id1 = []
week3_len = len(week3)
for i in range(week3_len):
    e_id = week3.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp3 = [eid, required_test_users.loc[i, 'username'], required_test_users.loc[i, 'course_id']]+[0]*23+[truth_test.loc[truth_index, '0']]
    features3.append(temp3)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

3522

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week3_len):
    ob = week3.loc[i, 'object']
    eid = week3.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features3[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features3[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week3_len):
    eid = week3.loc[i, 'enrollment_id']
    event = week3.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features3[index][4] += 1
    elif event == 'page_close':
        features3[index][5] += 1
    elif event == 'problem':
        features3[index][6] += 1
    elif event == 'video':
        features3[index][7] += 1
    elif event == 'discussion':
        features3[index][8] += 1
    elif event == 'navigate':
        features3[index][9] += 1
    else:
        features3[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features3[i][4:11]
    features3[i][11] = sum(behaviour_list) # Total behaviours per week
    features3[i][12] = features3[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week3_len):
    d = week3.loc[i, 'date']
    eid = week3.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features3[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features3[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week3.loc[0, 'time'], infer_datetime_format=True)
e1 = week3.loc[0, 'enrollment_id']
d1 = week3.loc[0, 'date']
for i in range(1, week3_len):
    t2 = pd.to_datetime(week3.loc[i, 'time'], infer_datetime_format=True)
    e2 = week3.loc[1, 'enrollment_id']
    d2 = week3.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features3[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week3_len):
    eid = week3.loc[i, 'enrollment_id']
    source = week3.loc[i, 'source']
    event = week3.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features3[index][15] += 1
        elif event == 'page_close':
            features3[index][16] += 1
        elif event == 'problem':
            features3[index][17] += 1
        elif event == 'video':
            features3[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week3_len):
    eid = week3.loc[i, 'enrollment_id']
    source = week3.loc[i, 'source']
    event = week3.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features3[index][19] += 1
        elif event == 'discussion':
            features3[index][20] += 1
        elif event == 'problem':
            features3[index][21] += 1
        elif event == 'navigate':
            features3[index][22] += 1
        elif event == 'wiki':
            features3[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features3[i][15:19]
    features3[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features3[i][19:24]
    features3[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects3',
        'bno_access3',
        'bno_pageclose3',
        'bno_problem3',
        'bno_video3',
        'bno_discussion3',
        'bno_navigate3',
        'bno_wiki3',
        'bno_total3',
        'bno_avg3',
        'no_of_active_days3',
        'time_consumption3',
        'browser_access3',
        'browser_pageclose3',
        'browser_problem3',
        'browser_video3',
        'server_access3',
        'server_discussion3',
        'server_problem3',
        'server_navigate3',
        'server_wiki3',
        'bno_browser3',
        'bno_server3',
        'label']
        
features_week3_test = pd.DataFrame(features3, columns = cols)

In [19]:
features_week3_test

,enrollment_id,username,course_id,no_of_objects3,bno_access3,bno_pageclose3,bno_problem3,bno_video3,bno_discussion3,bno_navigate3,...,browser_problem3,browser_video3,server_access3,server_discussion3,server_problem3,server_navigate3,server_wiki3,bno_browser3,bno_server3,label
0,34,OeLBIzS0gNQ56euxy5b66gAZMzQCGE7n,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,38,104,26,68,19,3,18,...,58,19,43,3,10,18,1,164,75,0
1,66,cGrHiRjztN9fSltHujpfWaaWfYWiidiG,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,48,130,33,78,17,139,17,...,61,17,88,139,17,17,0,153,261,0
2,89,Po17baTutQqG3KBkMaahpxQ7IpjhFfZa,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,28,76,4,44,13,3,3,...,39,13,34,3,5,3,0,98,45,1
3,145,TZOWoG0yzTTzAfx5K054mpl5rZTlZIcZ,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,30,89,32,28,22,6,7,...,25,22,61,6,3,7,1,107,78,1
4,163,jJZ8z8M2beLy33Z7JJbNFq1bQd8o43FV,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,5,4,2,0,0,0,2,...,0,0,3,0,0,2,0,3,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,200168,AYthRqjUqxgBOMkMdZlsA0hn0RkYMhX1,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,11,14,9,0,8,1,3,...,0,8,11,1,0,3,0,20,15,1
3518,200170,8uvIif4A5L5EPYASYSg4Tx0sVAF45af4,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,2,2,0,0,0,0,0,...,0,0,2,0,0,0,0,0,2,1
3519,200172,TNhUrfYcya3yxRpJxMcmjGjIL7iLVR1R,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
3520,200174,5OFiMxDgE4Mm8y2SD0A2gGR1Jne1kbKh,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,4,2,1,0,0,0,2,...,0,0,2,0,0,2,0,1,4,1
3521,200176,pzhB8LO3WWjbU215lU1c8Ly5btvgYfuP,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,6,0,0,0,0,2,7,...,0,0,0,2,0,7,1,0,10,1

In [20]:
features_week3_test.to_csv('features_week3_test.csv')