In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date

In [2]:
truth_train = pd.read_csv("train/truth_train.csv")
truth_enroll = truth_train['1'].to_list()

In [3]:
required_train_users = pd.read_csv("required_users.csv")
required_train_users.drop('Unnamed: 0', axis=1, inplace=True)
#required_train_users = required_train_users.head(10000) # Change the number as per requirement

In [4]:
required_train_users

,enrollment_id,username,course_id
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
3,13,hDbSkVrFRj9Ryk3c5E1JYJQLyxm4jLRb,5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2
4,22,dPBUV0FPFjTZZK079rPAeq0WXhW4DUkF,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
...,...,...,...
21787,200781,Kw92JTRLSCQpjDbdykKr2UkGn8EcDD30,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21788,200786,QgtS4pwTfCcnUet7wEFIaa3mI34JWeze,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21789,200791,m32hK7SShSI6GU8twpfqx1DswVGk0Vpq,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21790,200795,S91PWx0V5j7dyuZWAavjt1byiE0NQ5Ta,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
21791,200826,ejQ6gPILOqZQAfakVpcpBhnipDtNVKba,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx

In [5]:
enrollment_id_list = required_train_users['enrollment_id'].to_list()

In [6]:
week3 = pd.read_csv('week3.csv')
week3

,Unnamed: 0,enrollment_id,time,source,event,object,date,time_event
0,433,3,2014-07-04T14:27:27,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-04,14:27:27
1,434,3,2014-07-04T14:27:29,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-04,14:27:29
2,435,3,2014-07-04T14:27:30,server,access,930872bvdoHAPATW4FUKMfPrXPCfhOc0,2014-07-04,14:27:30
3,436,3,2014-07-04T14:27:38,server,access,iUWsDh3JnUQvrFHuDfXSX2VguUl3Q9ts,2014-07-04,14:27:38
4,437,3,2014-07-04T14:27:39,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-04,14:27:39
...,...,...,...,...,...,...,...,...
172235,8152038,200179,2014-02-06T14:16:18,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,14:16:18
172236,8152039,200179,2014-02-06T14:16:18,browser,video,x2fiAmyfZKBzTPm0hvTIKWZx1nljYbER,2014-02-06,14:16:18
172237,8152040,200180,2014-02-06T14:57:06,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,14:57:06
172238,8152041,200181,2014-02-06T15:21:24,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,15:21:24
172239,8152042,200182,2014-02-06T23:26:17,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,23:26:17

In [7]:
week3.drop('Unnamed: 0', axis=1, inplace=True)
week3

,enrollment_id,time,source,event,object,date,time_event
0,3,2014-07-04T14:27:27,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b,2014-07-04,14:27:27
1,3,2014-07-04T14:27:29,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-04,14:27:29
2,3,2014-07-04T14:27:30,server,access,930872bvdoHAPATW4FUKMfPrXPCfhOc0,2014-07-04,14:27:30
3,3,2014-07-04T14:27:38,server,access,iUWsDh3JnUQvrFHuDfXSX2VguUl3Q9ts,2014-07-04,14:27:38
4,3,2014-07-04T14:27:39,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-07-04,14:27:39
...,...,...,...,...,...,...,...
172235,200179,2014-02-06T14:16:18,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl,2014-02-06,14:16:18
172236,200179,2014-02-06T14:16:18,browser,video,x2fiAmyfZKBzTPm0hvTIKWZx1nljYbER,2014-02-06,14:16:18
172237,200180,2014-02-06T14:57:06,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,14:57:06
172238,200181,2014-02-06T15:21:24,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,15:21:24
172239,200182,2014-02-06T23:26:17,server,navigate,9Mur5ciTV9IBFfcPaz5c3nC1lrZaxBvG,2014-02-06,23:26:17

In [8]:
features3 = []
enrollment_id1 = []
week3_len = len(week3)
for i in range(week3_len):
    e_id = week3.loc[i, 'enrollment_id']
    if e_id not in enrollment_id1:
        enrollment_id1.append(e_id)
#enrollment_id1 = enrollment_id1[:2]
for eid in enrollment_id1:
    i = enrollment_id_list.index(eid)
    truth_index = truth_enroll.index(eid)
    temp3 = [eid, required_train_users.loc[i, 'username'], required_train_users.loc[i, 'course_id']]+[0]*23+[truth_train.loc[truth_index, '0']]
    features3.append(temp3)
unique_enroll = len(enrollment_id1)

In [9]:
unique_enroll

5173

In [10]:
# Feature 1 - Number of participating objects of course per week
objs = {}
for i in range(week3_len):
    ob = week3.loc[i, 'object']
    eid = week3.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in objs:
        objs[eid] = [ob]
        features3[index][3] += 1
    else:
        if ob not in objs[eid]:
            objs[eid].append(ob)
            features3[index][3] += 1

In [11]:
# Feature 2-8 - Behaviour number of access, page_close, problem video, discussion, navigate, wiki
for i in range(week3_len):
    eid = week3.loc[i, 'enrollment_id']
    event = week3.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if event == 'access':
        features3[index][4] += 1
    elif event == 'page_close':
        features3[index][5] += 1
    elif event == 'problem':
        features3[index][6] += 1
    elif event == 'video':
        features3[index][7] += 1
    elif event == 'discussion':
        features3[index][8] += 1
    elif event == 'navigate':
        features3[index][9] += 1
    else:
        features3[index][10] += 1  # wiki

In [12]:
# Feature 9-10 - The total and average numbers of all behaviors per week
for i in range(unique_enroll):
    behaviour_list = features3[i][4:11]
    features3[i][11] = sum(behaviour_list) # Total behaviours per week
    features3[i][12] = features3[i][11]/7   # Average behaviours per week

In [13]:
# Feature 11 - Number of active days per week
active_dates = {}
for i in range(week3_len):
    d = week3.loc[i, 'date']
    eid = week3.loc[i, 'enrollment_id']
    index = enrollment_id1.index(eid)
    if eid not in active_dates:
        active_dates[eid] = [d]
        features3[index][13] += 1
    else:
        if d not in active_dates[eid]:
            active_dates[eid].append(d)
            features3[index][13] += 1

In [14]:
# Feature 12 - Time consumption per week
t1 = pd.to_datetime(week3.loc[0, 'time'], infer_datetime_format=True)
e1 = week3.loc[0, 'enrollment_id']
d1 = week3.loc[0, 'date']
for i in range(1, week3_len):
    t2 = pd.to_datetime(week3.loc[i, 'time'], infer_datetime_format=True)
    e2 = week3.loc[1, 'enrollment_id']
    d2 = week3.loc[1, 'date']
    index = enrollment_id1.index(e2)
    if e1==e2 and d1==d2:
        delta = (t2 - t1).total_seconds()
        features3[index][14] += delta
    t1 = t2
    e1 = e2
    d1 = d2

In [15]:
# Feature 13-16 - The behavior numbers of access, page close, problem, video from browser per week respectively.
for i in range(week3_len):
    eid = week3.loc[i, 'enrollment_id']
    source = week3.loc[i, 'source']
    event = week3.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='browser':
        if event == 'access':
            features3[index][15] += 1
        elif event == 'page_close':
            features3[index][16] += 1
        elif event == 'problem':
            features3[index][17] += 1
        elif event == 'video':
            features3[index][18] += 1

In [16]:
# Feature 17-21 - The behavior numbers of access, discussion, problem, navigating, wiki from server per week respectively
for i in range(week3_len):
    eid = week3.loc[i, 'enrollment_id']
    source = week3.loc[i, 'source']
    event = week3.loc[i, 'event']
    index = enrollment_id1.index(eid)
    if source=='server':
        if event == 'access':
            features3[index][19] += 1
        elif event == 'discussion':
            features3[index][20] += 1
        elif event == 'problem':
            features3[index][21] += 1
        elif event == 'navigate':
            features3[index][22] += 1
        elif event == 'wiki':
            features3[index][23] += 1  # wiki

In [17]:
# Feature 22-23 - The numbers of all behaviors from browser and server per week respectively
for i in range(unique_enroll):
    browser_list = features3[i][15:19]
    features3[i][24] = sum(browser_list) # Total behaviours from browser per week
    server_list = features3[i][19:24]
    features3[i][25] = sum(server_list) # Total behaviours from server per week

In [18]:
cols = ['enrollment_id',
        'username',
        'course_id',
        'no_of_objects3',
        'bno_access3',
        'bno_pageclose3',
        'bno_problem3',
        'bno_video3',
        'bno_discussion3',
        'bno_navigate3',
        'bno_wiki3',
        'bno_total3',
        'bno_avg3',
        'no_of_active_days3',
        'time_consumption3',
        'browser_access3',
        'browser_pageclose3',
        'browser_problem3',
        'browser_video3',
        'server_access3',
        'server_discussion3',
        'server_problem3',
        'server_navigate3',
        'server_wiki3',
        'bno_browser3',
        'bno_server3',
        'label']
        
features_week3 = pd.DataFrame(features3, columns = cols)

In [19]:
features_week3

,enrollment_id,username,course_id,no_of_objects3,bno_access3,bno_pageclose3,bno_problem3,bno_video3,bno_discussion3,bno_navigate3,...,browser_problem3,browser_video3,server_access3,server_discussion3,server_problem3,server_navigate3,server_wiki3,bno_browser3,bno_server3,label
0,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,25,15,6,28,4,21,2,...,27,4,9,21,1,2,0,43,33,0
1,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,5,4,2,0,0,0,2,...,0,0,3,0,0,2,0,3,5,0
2,7,I1KwJ6EdCZnEPLfC8Q7yWpIkLOHn7h02,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,38,72,16,28,34,15,3,...,23,34,21,15,5,3,0,124,44,1
3,45,5Tz6BGN7p1lkmdoopAY1Z5ufYTrUsi9E,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,50,154,49,73,36,27,13,...,59,36,80,27,14,13,0,218,134,0
4,49,2oTvbzieHn2y5oozeOgSnruqE6N0BtR5,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,23,52,26,0,12,221,31,...,0,12,40,221,0,31,0,50,292,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5168,200178,kdbKnHrfUetCNFpkVPUjd1YS7pY3Y1xS,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,7,4,3,0,3,0,2,...,0,3,4,0,0,2,0,6,6,1
5169,200179,nONpoqUpw0PURu6ZnXs9gQtQMOWOg8ue,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,7,3,2,0,2,0,2,...,0,2,3,0,0,2,0,4,5,1
5170,200180,N1H6FHZ3dNzEs8oMwW9QQdJ6c3gTcjMQ,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
5171,200181,5AVv64HGNDPJGZDwAOSJQtcGvZuBdS1I,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
5172,200182,4TP43TWBhiZRfTTi5JD8xgUB7xZqttTW,fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1

In [20]:
features_week3.to_csv('features_week3.csv')